name: deploy

on:
  push:
    branches:
      - main

jobs:
  redeploy:
    name: redeploy
    runs-on: self-hosted
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Stop and clean Docker containers
        run: docker compose down -v || true

      - name: Rebuild and restart Docker containers
        run: docker compose up --build -d
